$prim-colour: #303033;
$prim-hover-colour: #2a2a2c;
$prim-active-colour: #1d1d1f;
$sec-colour: #43aeff;
$white-colour: #ececec;
$orange-colour: #ffba24;

$header-height: 10vh;

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

html {
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    font-size: calc(1em + 1vw);
    background-color: $prim-colour;
    min-height: 100vh;

    /* Hide scrollbar but keep functionality */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
}

h1 { font-size: 7vw; }
a { font-size: 1.4vw; }
p { font-size: 1.3vw; }

@media screen and (max-width: 80em) { /* vw is like the shrink/grow rate while em is like the size changer */
    h1 { font-size: calc(5vw + 2em); }
    a { font-size: calc(0.4vw + 0.8em); }
    p { font-size: calc(0.4vw + 0.8em); }

    .main-content .subheading-container {
        padding: 0 10vw;
    }
}

/* HEADER #########################################################################################*/
header {
    height: $header-height;
    width: 100vw;
    display: flex;
    justify-content: center;
    
    /* NAV #########################################################################################*/
    #main-menu {
        text-align: center;

        ul {
            display: inline-flex;
            
            li {
                list-style-type: none;
                padding: 20px 0.1em;

                a {
                    text-decoration: none;
                    color: $white-colour;
                    padding: 0.1em 0.2em;

                    .function-brackets {
                        color: $sec-colour;
                    }

                    &:hover {
                        color: $orange-colour;
                    }
    
                    &:active {
                        color: $orange-colour;
                    }
                }
            }
        }
    }
}

/* MAIN CONTENT #########################################################################################*/
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh - $header-height;
    position: relative;
    top: -5vh;

    .heading-container {
        text-align: center;

        .heading-text {
            font-weight: lighter;
        }

        .heading-firstword {
            color: $orange-colour;
        }

        .heading-dot {
            color: $sec-colour;
        }
        
        .heading-secondword {
            color: $white-colour;
        }
    }
    
    .subheading-container {
        text-align: center;
        padding: 0 20vw;

        .subheading-text {
            color: $white-colour;
            font-weight: lighter;
        }
    }

    .test-text {
        text-align: center;
        position: relative;
        top: 30vh;
        color: $white-colour;
    }

    #down-arrow {
        color: $orange-colour;
        font-size: calc(1vw + 1.5em);
    }
}

@media screen and (max-width: 50em) { /*vw is like the shrink/grow rate while em is the size changer*/
    .main-content { top: -10vh; }
}

/* FOOTER #########################################################################################*/
footer {
    background-color: $orange-colour;
    text-align: center;

    p {
        
    }
}