$prim-colour: #333;
$sec-colour: #43aeff;
$white-colour: #ececec;
$orange-colour: #ffba24;
$green-colour: #7dd46b;
$purple-colour: #c667dd;
$syntax-colour-4: #ffba24;
$header-height: 10vh;

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

html {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    font-family: 'Inconsolata', 'Space Mono', monospace;
    font-size: calc(1em + 1vw);
    color: $white-colour;
    animation: colourShift 2s ease forwards;
    scroll-behavior: smooth;

    // Hide scrollbar but keep functionality
    -ms-overflow-style: none;  // IE and Edge
    scrollbar-width: none;  // Firefox

    // Hide scrollbar for Chrome, Safari and Opera
    &::-webkit-scrollbar {
        display: none;
    }
}

h1 { font-family: "Apercu Mono", "Inconsolata", monospace;}
a { font-size: 1.2vw; }
p { font-size: 1.3vw; }

#codestyle-text1 { color: $sec-colour; }
#codestyle-text2 { color: $green-colour; }
#codestyle-text3 { color: $purple-colour; }
#codestyle-text4 { color: $orange-colour; }

body {
    display: flex;              // this stuff allows me to create sections on top of each other that have centered content
    justify-content: center;    //
    align-items: center;        //
    flex-direction: column;     //

    // HEADER #########################################################################################
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: $header-height;
        width: 100%;

        // NAV #########################################################################################
        nav {
            
            ul {
                display: flex; // keeps navbar elements inline
                
                li {
                    display: flex; // stops it resizing vertically when changing the window's width
                    list-style-type: none;
                    padding: 0 0.3em;
                    
                    a {
                        text-decoration: none;
                        color: $white-colour;
                        padding: 0.1em 0.2em;

                        .function-brackets {
                            color: $orange-colour;
                        }

                        &:hover {
                            text-decoration:underline;
                            text-decoration-style: wavy;
                            text-decoration-color: $orange-colour;
                            text-decoration-thickness: 2px;
                        }
        
                        &:active {
                            color: $orange-colour;
                        }
                    }
                }
            }
        }
    }

    // MAIN CONTENT #########################################################################################
    .main-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh - $header-height;
        position: relative;
        
        .heading-section {
            position: relative;
            top: -10vh;
            
            .heading-container {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 3vh 0;
                width: 100%;
                
                #nameLogo {
                    height: inherit;
                    width: 80%;
                    
                    .firstword {
                        stroke: $orange-colour;
                        stroke-width: 2px;
                        animation: fill 1s ease forwards 2.5s;
                    }

                    .secondword {
                        stroke: $white-colour;
                        stroke-width: 2px;
                    }
                }
            }
            
            .subheading-container {
                text-align: center;
                padding: 0 25%;
                
                p {
                    color: $white-colour;
                }

                #text-cursor {
                    animation: 1s blink step-end infinite;
                }
            }
        }

        #scroll-arrow {
            display: flex;
            align-items: flex-end;
            position: absolute;
            bottom: 0;
            padding-bottom: 5vh;
        }
    }

    .info-section {
        width: 100%;
    }

    .projects-wrapper {
        background-color: blue;
    }

    .about-me-wrapper {
        background-color: lightblue;
    }

    .contact-wrapper {
        background-color: aqua;
    }

    @keyframes blink {
        from, to {
            opacity: 100%;
        }
        50% {
            opacity: 0%;
        }
    }

    @keyframes fill {
        from {
            fill: transparent;
        }
        to {
            fill: $orange-colour;
        }
    }

    @keyframes colourShift {
        from {
            background-color: black;
        }
        to {
            background-color: $prim-colour;
        }
    }

    // VIEWPORT RESIZING MOBILE/DESKTOP RELATED STUFF #################################################################
    // when vw is under 80em
    @media screen and (max-width: 80em) { // vw is like the shrink/grow rate while em is like the size changer
        a { font-size: calc(0.4vw + 0.5em); }
        p { font-size: calc(0.4vw + 0.8em); }
    }

    // when vw is 121em or over
    @media screen and (min-width: 121em) {
        a { font-size: 23px; }
        p { font-size: 25px; }
        
    }

    @media screen and (max-width: 50em) {
        .desktop-content { display: none; }
        .subheading-container { padding: 0 5vw !important; } // make subheading box wider (!important means override what's above)
        .main-content .heading-section .heading-container #nameLogo .secondword, // don't know why i cant make this shorter...
        .main-content .heading-section .heading-container #nameLogo .firstword { // or this...
            stroke-width: 4px;
        }
    }

    @media screen and (max-height: 30em) {
        .desktop-content { display: none; }
    }

    /* FOOTER #########################################################################################*/
    footer {
        background-color: $orange-colour;
        width: 100%;
        text-align: center;

        p {
            
        }
    }
}