$prim-colour: #111;
$white-colour: #ececec;
$orange-colour: #ffba24;
$blue-colour: #43aeff;

// nav element hover effect
.nav-element {
    position: relative;

    a {
        -webkit-transition: color 0.2s;
	    -moz-transition: color 0.2s;
	    transition: color 0.2s;

        &::before, &::after {
            position: absolute;
            width: 0;
            height: 1px;
            left: 50%;
            pointer-events: none;
            opacity: 0.8;
            background-color: $orange-colour;
            content: '';
            -webkit-transition: left 0.15s, width 0.15s;
	        -moz-transition: left 0.15s, width 0.15s;
	        transition: left 0.15s, width 0.15s;
        }

        &::before { top: calc(-5px); }
        &::after  { top: calc(100% + 5px); }
        
        &:hover, &:focus {
            color: $white-colour;
            
            &::before, &::after {
                width: 80%;
                left: 9%;
            }

            &::before {
                
            }

            &::after {
                
            }
        }
    }
}