$prim-colour: #111;
$white-colour: #ececec;
$orange-colour: #ffba24;
$blue-colour: #43aeff;

// nav element hover effect
.nav-element {
    position: relative;

    a {
        -webkit-transition: color 0.2s;
	    -moz-transition: color 0.2s;
	    transition: color 0.2s;

        &::before, &::after {
            position: absolute;
            width: 100%;
            left: 0;
            top: 50%;
            height: 1px;
            margin-top: 2px;
            background: #555;
            content: '';
            -webkit-transition: 0.2s;
	        -moz-transition: 0.2s;
	        transition: 0.2s;
            pointer-events: none;
            opacity: 0;
        }
        
        &:hover, &:focus {
            color: $white-colour;
            
            &::before, &::after {
                opacity: 1;
                background: $orange-colour;
                height: 2px;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                left: calc(50% - 4px);
                top: 50%;
            }

            &::before {
                -webkit-transform: translateY(-1em);
	            -moz-transform: translateY(-1em);
	            transform: translateY(-1em);
            }

            &::after {
                -webkit-transform: translateY(0.8em);
	            -moz-transform: translateY(0.8em);
	            transform: translateY(0.8em);
            }
        }
    }
}