$prim-colour: #111;
$white-colour: #ececec;
$orange-colour: #ffba24;
$blue-colour: #43aeff;

// nav element hover effect
.nav-element {
    position: relative;
    z-index: 1;

    a {
        -webkit-transition: color 0.3s;
	    -moz-transition: color 0.3s;
	    transition: color 0.3s;

        &::before, &::after {
            position: absolute;
            width: 100%;
            left: 0;
            top: 50%;
            height: 1px;
            margin-top: 2px;
            background: #555;
            content: '';
            z-index: -1;
            -webkit-transition: 0.3s;
	        -moz-transition: 0.3s;
	        transition: 0.3s;
            pointer-events: none;
        }

        &:hover, &:focus {
            color: $white-colour;

            &::before, &::after {
                opacity: 0.7;
                background: $orange-colour;
                height: 2px;
            }

            &::before {
                -webkit-transform: translateY(-1em);
	            -moz-transform: translateY(-1em);
	            transform: translateY(-1em);
            }

            &::after {
                -webkit-transform: translateY(0.8em);
	            -moz-transform: translateY(0.8em);
	            transform: translateY(0.8em);
            }
        }
    }
}