* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

html {
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
  font-size: calc(1em + 1vw);
  background-color: #303033;
  min-height: 100vh;
  /* Hide scrollbar but keep functionality */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  /* Hide scrollbar for Chrome, Safari and Opera */
}
html::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: 7vw;
}

a {
  font-size: 1.4vw;
}

p {
  font-size: 1.3vw;
}

@media screen and (max-width: 80em) {
  /* vw is like the shrink/grow rate while em is like the size changer */
  h1 {
    font-size: calc(5vw + 2em);
  }

  a {
    font-size: calc(0.4vw + 0.8em);
  }

  p {
    font-size: calc(0.4vw + 0.8em);
  }

  .main-content .subheading-container {
    padding: 0 10vw;
  }
}
/* HEADER #########################################################################################*/
header {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  /* NAV #########################################################################################*/
}
header #main-menu {
  text-align: center;
}
header #main-menu ul {
  display: inline-flex;
}
header #main-menu ul li {
  list-style-type: none;
  padding: 20px 0.1em;
}
header #main-menu ul li a {
  text-decoration: none;
  color: #ececec;
  padding: 0.1em 0.2em;
  clear: both;
}
header #main-menu ul li a .function-brackets {
  color: #43aeff;
}
header #main-menu ul li a:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: red;
  text-decoration-thickness: 2px;
}
header #main-menu ul li a:active {
  color: #ffba24;
}

/* MAIN CONTENT #########################################################################################*/
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  position: relative;
}
.main-content .heading-info-container {
  position: relative;
  top: -10vh;
}
.main-content .heading-info-container .main-heading-container {
  text-align: center;
}
.main-content .heading-info-container .main-heading-container .heading-text {
  font-weight: lighter;
}
.main-content .heading-info-container .main-heading-container .heading-firstword {
  color: #ffba24;
}
.main-content .heading-info-container .main-heading-container .heading-dot {
  color: #43aeff;
}
.main-content .heading-info-container .main-heading-container .heading-secondword {
  color: #ececec;
}
.main-content .heading-info-container .subheading-container {
  text-align: center;
  padding: 0 20vw;
}
.main-content .heading-info-container .subheading-container .subheading-text {
  color: #ececec;
  font-weight: lighter;
}

@media screen and (max-width: 50em) {
  /*vw is like the shrink/grow rate while em is the size changer*/
  .main-content {
    top: -10vh;
  }
}
/* FOOTER #########################################################################################*/
footer {
  background-color: #ffba24;
  background-color: aqua;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
