* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

html {
  box-sizing: border-box;
  height: 100vh;
  font-family: "Inconsolata", monospace;
  font-size: calc(1em + 1vw);
  animation: colourShift 2s ease forwards;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}

a {
  font-size: 1.4vw;
}

p {
  font-size: 1.3vw;
}

header {
  height: 10vh;
  width: 100%;
}
header nav {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul {
  display: flex;
}
header nav ul li {
  display: flex;
  list-style-type: none;
}
header nav ul li a {
  text-decoration: none;
  color: #ececec;
  padding: 0.1em 0.2em;
}
header nav ul li a .function-brackets {
  color: #43aeff;
}
header nav ul li a:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: #ffba24;
  text-decoration-thickness: 2px;
}
header nav ul li a:active {
  color: #ffba24;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  position: relative;
}
.main-content .heading-info-container {
  position: relative;
  top: -10vh;
}
.main-content .heading-info-container .main-heading-container {
  text-align: center;
  padding: 1.5% 0;
  width: 100%;
}
.main-content .heading-info-container .main-heading-container #nameLogo {
  width: 80%;
}
.main-content .heading-info-container .main-heading-container #nameLogo .firstword {
  stroke: #ffba24;
  stroke-width: 2px;
  animation: fill 1s ease forwards 2.5s;
}
.main-content .heading-info-container .main-heading-container #nameLogo .secondword {
  stroke: #ececec;
  stroke-width: 2px;
}
.main-content .heading-info-container .subheading-container {
  text-align: center;
  padding: 0 30%;
}
.main-content .heading-info-container .subheading-container p {
  color: #ececec;
}
.main-content .heading-info-container .subheading-container #text-cursor {
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from, to {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #ffba24;
  }
}
@keyframes colourShift {
  from {
    background-color: black;
  }
  to {
    background-color: #333;
  }
}
@media screen and (max-width: 80em) {
  a {
    font-size: calc(0.4vw + 0.8em);
  }

  p {
    font-size: calc(0.4vw + 0.8em);
  }
}
@media screen and (min-width: 121em) {
  a {
    font-size: 26.88px;
  }

  p {
    font-size: 24.96px;
  }
}
@media screen and (max-width: 50em) {
  .subheading-container {
    padding: 0 5vw !important;
  }

  .desktop-content {
    display: none;
  }

  .main-content .heading-info-container .main-heading-container #nameLogo .secondword,
.main-content .heading-info-container .main-heading-container #nameLogo .firstword {
    stroke-width: 4px;
  }
}
@media screen and (max-height: 30em) {
  .desktop-content {
    display: none;
  }
}
/* FOOTER #########################################################################################*/
footer {
  background-color: #ffba24;
  width: 100%;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
